{% extends 'base.html.twig' %}

{% block body %}
<h1>Starshop: your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through our {{ starShips | length }} Starships!

    {% if starShips | length > 2 %}
        {# Comment in Twig #}
        <p>That's a lot of Starships!</p>
    {% endif %}

</div>

<div>
    <h2>My Ship</h2>

    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>

{% endblock %}